#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu May 14 16:23:57 2020

@author: rafaelgomes
"""
<!DOCTYPE html>
<html>

<head>
	<tittle>1006 Homepage</title>
</head>
<body>
	<h1>Hi! Welcome to my page.</h1>
	<p>My name is Rafael Tupanangyr Andreucci Gomes.</p>
	<picture>
		<img src =img-final.jpeg alt=“photo” style=“width; auto;”.
	</picture>
	<p>I am a first-year student, and my intended major is Mechanical Engineering. </p>
	<p>Click the links bellow to see a list of movies I recommend to watch and a list Tv Shows I recommend to watch.</p>
 <a href=movies>Movie Recommendations</a>
 <a href=tv>Tv Show Recommendations</a>
 <p>Finally bellow is what I belive is my favourite website. Enjoy!</p>
 <a href="https://www.solitr.com">Click here for endless entertainment!</a>
</body>
<html>