#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu May 14 16:28:18 2020

@author: rafaelgomes
"""
<!DOCTYPE html>
<html>

<head>
    <tittle>Movie Reccomendations </title>
</head>

<body>
    <p>Here are some of my favorite movies, which I recommend as to watch:</p>
	<ol>
    <li>The Room by Tommy Wiseau</li>
	<li>Blue velvet by David Lynch</li>
	<li>A Clockwork Orange by Stanley Kubrick</li>
	<li>Trainspotting by Danny Boyle </li>
	<li>The Big Lebowski by Ethan and Joel Coen</li>
	<li>Apocalypse now by Francis Ford Coppola</li>
	<li>Eraserhead by David Lynch </li>
	<li>Lolita by Stanley Kubrick</li>
	<li>Uncut Gems by Josh and Benny Safdie</li>
	<li>Fight club by David Fincher</li>
	<li>2001: A Space Odyssey by Stanley Kubrick</li>
	<li>Climax by Gaspar Noe</li>
	<li>Blade Runner by Ridley Scott</li>
	</ol>

    <a href=1006>Return to homepage</a>
</body>
</html>