#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu May 14 16:30:23 2020

@author: rafaelgomes
"""

<!DOCTYPE html>
<html>

<head>
	<tittle>Tv Show Recommendations </title>
</head>
		
<body>
	<p>Here are some of my favorite tv shows, which I recommend as to watch:</p>
	<ol>
	<li>The Wire</li>
	<li>Curb Your Enthusiasm </li>
	<li>Twin Peaks</li>
	<li>Twin Peaks: The Return</li>
	<li>DESUS & MERO: on SHOWTIME</li>
	<li>Black Mirror</li>
	<li>Portlandia</li>
	<li>Bojack Horsemen</li>
	<li>Seinfeld</li>
	</ol>

    <a href=1006>Return to homepage</a>

</body>
</html
